body {
    margin: 0;
    padding: 0;
}

.light-theme {
    background-color: #dbebf8;
}

.page {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    height: 80px;
    background-color: #f4f9fd;
    margin: 0;
}

.header_title {
    margin: 0;
    color: #3bedb7;
    text-align: center;
    line-height: 80px;
}

.content {
    min-height: calc(100vh - 80px);
}

.picker {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 100px);
}

.picker_button {
    background-color: #135CFD;
    border: none;
    border-radius: 7px;
    width: 180px;
    height: 48px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.picker_button:hover {
    background-color:#3bedb7;
    color: black;
    cursor: pointer;
}

.picker_question {
    margin: auto 0;
}

@media (max-width: 500px) {
    .header {
        min-height: 160px;
    }
    .header_title {
        line-height: 1.2;
        font-size: 26px;
        padding: 48px 5px 0;
    }
    .content {
        min-height: calc(100vh - 160px);
    }
    .picker {
        max-width: 300px;
        min-height: 60vh;
        margin: 0 auto;
    }
    .picker_question {
        text-align: center;
    }
}